html,
body {
  background-image: url('/backgroundimage.jpg');
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-position: 0px 120px;
  margin: 0;
}

h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}